.c3-axis-x .tick {
  text {
    fill: black;
    text-anchor: start !important;
    transform: rotate(90deg) translate(20px, -10px) !important;
  }

  @media screen and (min-width: 1480px) {
    text {
      text-anchor: middle !important;
      transform: rotate(0) translate(0, 10px) !important;
    }
  }
}